*{
    font-family: 'Reem Kufi Fun', sans-serif;
    text-align: center;
}
body{
    background-image: url(../img/wallpaperbetter.com_7680x4320.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;  
}

.img-zapato{
    width: 25%;
    height: 25%;
    cursor:pointer;
}
.img-zapato:hover{
    width: 30%;
    height: 30%;
    transition: 0.7s; 
}
td{
    width: 10%;
}
table{
    width: 30%;
    text-align: center;
}

.mas{
    width: 100%;
    height: 100%;
}
.icon-facebook2{
    color: blue;
}
.icon-instagram{
    color: darkorange;
}
.icon-whatsapp{
    color:green;
}
.icon-telegram{
    color: cadetblue;
}
.icon-twitter{
    color: rgba(37, 50, 230, 0.5);;
}
.icon-youtube{
    color: red;
}
.table-responsive{
    background: rgba(255,255,255,0.35);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
border: 1px solid rgba(255,255,255,0.175);
padding: 30px;
border-radius: 10px;
}
.material-symbols-outlined{
color: white;
}