*{
    font-family: 'Reem Kufi Fun', sans-serif;
}
footer{
  height: 100px;
  background-color: #000000;
}
main{
background-image: url(../img/wallpaperbetter.com_7680x4320.jpg);
background-repeat: no-repeat;
background-size: cover;
text-align: center;    
}
.titulos{
  display: flex;
  justify-content: center;
  align-items: center;
margin: 0px;
  font-family: 'Reem Kufi Fun', sans-serif;
  height: 100PX;
color: #F3F4F5;
padding: 30px;
}
body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #F3F4F5;
    
}
#navegador{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
    height: 190px;
    margin: 0px;
    list-style: none;
    -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

header{
  display: flex;
  justify-content: center;
background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(149,144,144,0.4640231092436975) 100%),url(../img/Blanco\ Negro\ Monocromo\ Foto\ Ropa\ Casual\ Tumblr\ Banner.png);height: 500px;
background-size: cover;
position: relative;
    margin: 0px;
    padding: 0px;
    height: 400px;
    -webkit-box-shadow: 2px 4.5px 32px 7.5px #000000;
    -moz-box-shadow: 2px 4.5px 32px 7.5px #000000;
    box-shadow: 2px 4.5px 32px 7.5px #000000;
}

li a{
border-radius: 5px;    
padding: 5px;

    text-decoration: none;
    color: #F3F4F5;
    text-align: center;
    width: 150px;
    margin-right: 50px;
    display: inline-block;
    font-size: 20px;
}

li{
height: 70px;

}
li a:hover{
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
color:black ;
    transform: scale(1.1);
    transition: 0.7s;
    border-radius: 5px;
   
}


.img{
float: left;
}

.img>a>img:hover{
    transform: scale(1.5);
    transition: 1.5s;
}

.container {
    float: right;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .father_nav{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  .carrusel{
      display: flex;
      justify-content: center;
  }
  .tienda{
    display: flex;
flex-wrap: wrap;
justify-content: center;
padding-bottom: 50px;
  }
  .container_producto{
    background: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.15);
    height: 300px;
    width: 30%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  .container_producto img{
    height: 250px;
    width: 50%;
  }
  .container_producto button{
    margin: 10px;
 background-color: #000000;
    border: 1px solid rgba(36,137,179,0.125);
    border-radius: 10px;
    width: 80px;
    color: #F3F4F5;
  }
  .container_producto button:hover{
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transform: scale(1.1);
    transition: 1.1s;
  }
  .descripcion{
    width: 40%;
    height: 250px;
font-weight: 300;
font-size: small;
  }
  @-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
    
