
  
  .topnav {
    overflow: hidden;
    position: relative;
    width: 150px;
    display: flex;
    justify-content: center;
  }

  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav button {
    background-color: black;
    border-radius: 5px;
    margin: 5px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    width: 150px;
    height: 30px;
  }
  .topnav button:hover {
transform: scale(1.1);
color: aqua;
border-radius: 5px;
  }
  

  .active {
    background-color: #04AA6D;
    color: white;
  }